:root {
  /* Font sizes */
  --text-code: 13px;
  --text-s: clamp(12px, 0.17vi + 12.14px, 14px);
  --text-base: clamp(14px, 0.34vi + 14.64px, 16px);
  --text-m: 18px;
  --text-l: 20px;
  --text-xl: 24px;
  --text-2xl: 32px;
  --text-3xl: 40px;

  /* Space */
  --size-4xl: clamp(2.25rem, 1.467rem + 3.913vw, 4.5rem);
  --size-3xl: clamp(2rem, 1.478rem + 2.609vw, 3.5rem);
  --size-2xl: clamp(1.75rem, 1.315rem + 2.174vw, 3rem);
  --size-xl: clamp(1.5rem, 1.152rem + 1.739vw, 2.5rem);
  --size-l: clamp(1rem, 0.652rem + 1.739vw, 2rem);
  --size-m: clamp(1.2rem, 1.061rem + 0.696vw, 1.8rem);
  --size-base: clamp(1rem, 0.861rem + 0.696vw, 1.4rem);
  --size-s: clamp(0.9rem, 0.73rem + 0.348vw, 1rem);
  --size-xs: 0.6rem;

  /* Border radius */
  --br-2xl: 48px;
  --br-xl: 32px;
  --br-l: 16px;
  --br-base: 12px;
  --br-s: 8px;
}

[data-theme="light"] {
  color-scheme: light dark;
  --primary: #006b5f;
  --on-primary: #ffffff;
  --primary-container: #9ef2e3;
  --on-primary-container: #005048;

  --secondary: #4a635e;
  --on-secondary: #ffffff;
  --secondary-container: #cce8e2;
  --on-secondary-container: #334b47;

  --tertiary: #456179;
  --on-tertiary: #ffffff;
  --tertiary-container: #cce5ff;
  --tertiary-container-light: #2d4960;

  --surface: #f4fbf8;
  --surface-container: #e9efec;
  --surface-container-lowest: #ffffff;
  --on-surface: #161d1b;
  --on-surface-variant: #3f4946;

  --outline: #161d1b;
  --outline-variant: #6f7976;
  --outline-variant-transparent: #6f797644;
}

[data-theme="dark"] {
  --primary: #82d5c7;
  --on-primary: #003731;
  --primary-container: #005047;
  --on-primary-container: #9ef2e3;

  --secondary: #b1ccc6;
  --on-secondary: #1c3531;
  --secondary-container: #334b47;
  --on-secondary-container: #cce8e2;

  --tertiary: #accae5;
  --on-tertiary: #143349;
  --tertiary-container: #2d4a60;
  --tertiary-container-light: #cbe6ff;

  --surface: #0e1513;
  --surface-container: #1a211f;
  --surface-container-lowest: #090f0e;
  --on-surface: #dde4e1;
  --on-surface-variant: #bec9c5;

  --outline: #dde4e1;
  --outline-variant: #3f4946;
  --outline-variant-transparent: #3f494644;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--surface);
  color: var(--on-surface);
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.8;
  font-size: var(--text-base);
  font-family: sans-serif;
}
main {
  max-width: 1400px;
  min-height: 100vh;
  margin: auto;
  padding: 4rem 2rem 2rem;
  padding-inline: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.6;
}
h1 {
  font-size: var(--text-2xl);
  margin: var(--size-2xl) 0 var(--size-m);
}
h2 {
  font-size: var(--text-xl);
  margin: var(--size-2xl) 0 var(--size-m);
}
h3 {
  font-size: var(--text-l);
  margin: var(--size-2xl) 0 var(--size-s);
}
h4 {
  font-size: var(--text-m);
  margin: var(--size-2xl) 0 var(--size-s);
}
h5 {
  font-size: var(--text-base);
  margin: var(--size-2xl) 0 var(--size-s);
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--primary);
  transition: opacity 0.2s;
  line-break: anywhere;
}
a:hover {
  opacity: 0.7;
}
img {
  width: 100%;
  height: auto;
}
ul,
ol {
  padding-left: var(--size-xl);
}
li {
  margin-bottom: var(--size-s);
}
footer {
  color: var(--on-surface-variant);
  font-size: var(--text-s);
  text-align: center;
  margin-top: auto;
}

@media (min-width: 568px) {
  :root {
    /* Border radius */
    --br-xl: 32px;
    --br-l: 24px;
    --br-base: 16px;
    --br-s: 8px;
  }

  main {
    padding-inline: 3rem;
  }
}

/* blog post */
#blog-post {
  /* general */
  img {
    display: block;
    width: initial;
    max-width: 100%;
    margin-inline: auto;
  }

  /* Accordion code block */
  p:has(strong):has(+ .astro-code) {
    background: var(--secondary-container);
    color: var(--on-secondary-container);
    padding: var(--size-xs) var(--size-s);
    border-radius: var(--size-m);
    border: 1px solid var(--outline-variant);
    cursor: pointer;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
  }

  p:has(strong):has(+ .astro-code) strong {
    font-weight: 600;
    font-size: var(--text-s);
  }

  p:has(strong):has(+ .astro-code)[active] {
    border-bottom-right-radius: var(--br-s);
    border-bottom-left-radius: var(--br-s);
  }

  p:has(strong):has(+ .astro-code)::before {
    content: "▼";
    padding-right: var(--size-xs);
  }

  p:has(strong):has(+ .astro-code)[active]::before {
    content: "▲";
  }

  /* Link card */
  .remark-link-card-plus__container {
    margin-bottom: 1rem;
    width: 100%;
  }

  .remark-link-card-plus__card {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-container-lowest);
    overflow: hidden;
    border: 1px solid var(--outline);
    transition:
      background-color 150ms ease,
      border-color 150ms ease,
      color 150ms ease;
    text-decoration: none !important;
    margin-top: var(--size-l);
    margin-bottom: var(--size-l);
  }

  .remark-link-card-plus__main {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 1rem;
  }

  .remark-link-card-plus__title {
    font-size: var(--text-base);
    font-weight: 600;
    color: var(--on-surface);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .remark-link-card-plus__description {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: var(--on-surface-variant);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .remark-link-card-plus__meta {
    display: flex;
    align-items: center;
    margin-top: auto;
  }

  .remark-link-card-plus__meta img {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-right: 0.25rem;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    object-fit: contain;
  }

  .remark-link-card-plus__url {
    font-size: 0.75rem;
    color: var(--on-surface-variant);
  }

  .remark-link-card-plus__thumbnail {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
  }

  .astro-code {
    font-size: var(--text-code);
    padding: var(--size-s);
    border-radius: var(--br-s);
    margin-top: 0;
    width: 100%;
    min-width: 0;
  }

  @media (min-width: 768px) {
    .remark-link-card-plus__card {
      flex-direction: row;
      height: 8rem;
    }

    .remark-link-card-plus__thumbnail {
      max-width: 16rem;
    }
  }

  .remark-link-card-plus__image {
    height: 100%;
    width: 100%;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    object-fit: cover;
    display: block;
    position: relative;
    top: 1px;
  }

  /* katex */

  .katex-display {
    width: 100%;
    height: max-content;
    overflow-x: auto;
    overflow-y: visible;
    padding: 16px 0;
  }

  picture + em {
    font-style: initial;
    display: block;
    color: var(--on-surface-variant);
    font-size: var(--text-s);
    text-align: center;
  }
}
