.title {
  font-weight: 200;
  color: var(--on-surface-variant);
  margin-bottom: var(--size-3xl);
  margin-inline: auto;
  text-align: center;
}

.blogWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-4xl);
  margin-bottom: var(--size-3xl);
}
